commands:
  create_data_dir:
    command: "mkdir -p /var/data/araujo-prev && chown -R webapp:webapp /var/data/araujo-prev"
    ignoreErrors: true
  create_documentos_dir:
    command: "mkdir -p /var/data/araujo-prev/documentos && chown -R webapp:webapp /var/data/araujo-prev/documentos"
    ignoreErrors: true
